.horiflex {
    display: flex;
    justify-content: space-between;
}

.maintext {
    width: 28%;
    min-width: 28%;
    margin: auto;
    font-family: 'GothamHTF-Book';
    font-size: 4vw;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.02em;
    text-align: left;
}

.image {
    margin-top: 3rem;
    object-fit: cover;
    width: 22%;
}

.mainitem {
    margin-left: .4rem;
    margin-right: .4rem;
}

.root {
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    margin: 0
}